html {
    box-sizing: border-box;
    font-family: 'Karla';
    font-size: 1.6vh;
}

body {
    padding: 2em;
}

h1, h2, p {
    margin: 0;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main {
    box-shadow: 0 0 4rem 0 rgba(0,0,0,0.25);
    border-radius: 0.5em;
    overflow: hidden;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

#N {
    width: 100%;
    padding: 2.5em;
}

#N h1 {
    color: #2ab2af;
    margin-bottom: 1em;
}

#N h2 {
    color: #c0df34;
    margin-bottom: 0.7em;
}

#N p {
    color: #98a6bd;
    line-height: 1.6;
}

#S {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
}

#SW {
    background-color: #2ab2af;
    padding: 2.5rem;
    flex-basis: 50%;
}

#SE {
    background-color: #2EBFBD;
    padding: 2.5rem;
    flex-basis: 50%;
}

#SW h2 {
    font-size: 1.1rem;
    margin-bottom: 1em;
}

#price-amount {
    font-weight: 700;
    font-size: 1.8rem;
}

#per-month {
    font-size: 0.95rem;
    opacity: 0.7;
    margin-left: 0.8em;
}

#price-cont {
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

#SW p {
    font-size: 0.95rem;
    margin-bottom: 2em;
}

#sign-up {
    color: white;
    background-color: #c0df34;
    border: none;
    padding: 1em;
    width: 100%;
    border-radius: 0.3em;
    font-weight: 700;
    font-size: 1.05rem;
    position: relative;
    bottom: 0;
}

#sign-up:hover {
    cursor: pointer;
    background-color: #A9C42D;
    transform: scale(1.02);
}

#SE h2 {
    font-size: 1.1rem;
    margin-bottom: 1.5em;
}

ul {
    padding: 0;
    list-style: none;
    opacity: 0.8;
    margin: 0 0 0 0;
}

li {
    font-size: 0.85rem;
    margin-top: 0.4em;
}

@media (min-width: 71vh) {
    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        width: 64vh;
        height: 48vh;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 1em;
    }

    #S {
        flex-direction: row;
        align-items: stretch;
    }
}